[build]
  command = "npm run build"
  publish = "dist"

[build.environment]
  NODE_VERSION = "20"
  NODE_ENV = "production"
  DEBUG = "vite:*"
  NPM_CONFIG_LOGLEVEL = "verbose"
  NPM_CONFIG_PRODUCTION = "false"
  NETLIFY_NEXT_PLUGIN_SKIP = "true"
